/* * {
  color: #39FF14;
  background-color:grey;
  text-align: center;
}

body {
  background-color: grey;
}

h1, h3 {
  color: #39FF14;
} */

.demo-data-canvas {
  width: "100px"
}

.prediction-canvas {
  width: "300"
}

.image-select-canvas {
  cursor: pointer;
  width: "150px"
}
/* not working... */
.image-select-canvas:active {
  width: "200px";
}

/* #input-canvas-container {
	text-align: center; 
}

#input-canvas {
  position: relative; 
	display: block; 
	width: 400px; 
	height: 400px; 
	margin: 50000000px; 
} */
