.demo-data-canvas {
  width: "100px"
}

.prediction-canvas {
  width: "300"
}

.image-select-canvas {
  cursor: pointer;
  width: "150px"
}
/* not working... */
.image-select-canvas:active {
  width: "200px";
}

