/* * {
  color: #39FF14;
  background-color:grey;
  text-align: center;
}

body {
  background-color: grey;
}

h1, h3 {
  color: #39FF14;
} */

.prediction-canvas {
  width: "300"
}

/* #input-canvas-container {
	text-align: center; 
}

#input-canvas {
  position: relative; 
	display: block; 
	width: 400px; 
	height: 400px; 
	margin: 50000000px; 
} */
